<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_lesson"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Opening"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="Lesson Menu" >
            <intent-filter>
                <action android:name="com.example.android_lesson.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartingPoint"
            android:label="Super Hello World" >
        </activity>
        <activity
            android:name=".Text"
            android:label="Text Trial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoveMail"
            android:label="Love Mail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CameraToBackground"
            android:label="Camera to Background"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BaseBall"
            android:label="BaseBall"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HitAndRun"
            android:label="Hit And Run"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RunAndHit"
            android:label="Run And Hit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Test_StartActivity"
            android:label="Test_StartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Test_StartActivityGet"
            android:label="Test_StartActivityGet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Test_StartActivityForResult"
            android:label="Test_StartActivityForResult"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Test_StartActivityForResult_Get"
            android:label="Test_StartActivityForResult_Get"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutApp"
            android:label="AboutApp"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.android_lesson.ABOUTAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUser"
            android:label="AboutUser"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Prefs"
            android:label="Preferences" >
            <intent-filter>
                <action android:name="com.example.android_lesson.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BallBall"
            android:label="BallBall"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>